/* ////////////////////////////////////////////////////// */
/* ////////////////////  RESPONSIVE  //////////////////// */
/* ////////////////////////////////////////////////////// */

@media only screen and (max-width : 576px) {
  .register {
    padding: 0 20%;
  }
}

@media only screen and (max-width : 425px) {
  .register {
    padding: 0 15%;
  }
}

@media only screen and (max-width : 375px) {
  .register {
    padding: 0 7%;
  }
}

@media only screen and (max-width : 320px) {
  .register {
    padding: 0 5%;
  }
}