:root {
  --primary: rgb(127, 0, 31);
  --secondary: rgb(255, 129, 6);
}

/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{
  background: rgba(255, 254, 196, 0.534);
}

button:focus, input:focus, select:focus {
  outline: none !important;
  box-shadow: none !important;
}

.is-invalid {
  padding-right: 16px !important;
}

.active {
  font-weight: 500;
}
.hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  text-decoration: none;
  color: var(--secondary);
}

.blinking {
  animation: blink 1s infinite alternate;
  color: #808080;
}

@keyframes blink {
  from {opacity:0;}
  to {opacity: 1;}
}