

/* Global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:focus, input:focus {
  outline: none;
}

.active {
  font-weight: 500;
}

a, a:hover {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}