.admin-form ul{
  display: block !important;
}

.admin-form ul li {
  display: block !important;
}

.card-header-h4{
  border-bottom: 5px solid #fff !important;
}

.admin-section-one {
  background-image: url('../img/admin.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.special-card-header {
  padding: .75rem 1.25rem;
}

.special-card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: none;
  border-radius: .25rem;
}

/*   */    /*   *//*   */    /*   *//*   */    /*   */

.paper {
  padding: 15px;
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 10px;
  box-shadow: 10px 10px 10px #bcc3ca;
  margin: 10px 0 30px 0;
}