input { 
  background-image: none !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.fa-check {
  color: green;
}

.my-card {
  position:absolute;
  left:50%;
  top:-50%;
  transform: translate(-50%, 50%)
}