@media only screen and (max-width : 992px) {
  .item-responsive, .icon-responsive {
    font-size: 1.1em !important;
  }
}

@media only screen and (max-width : 767px) {
  .item-responsive, .icon-responsive {
    font-size: .9em !important;
    padding: 13px 0 !important;
  }
}

@media only screen and (max-width : 576px) {
  .item-responsive, .icon-responsive {
    font-size: .7em !important;
  }
}

@media only screen and (max-width : 425px) {
  .item-responsive, .icon-responsive {
    font-size: .5em !important;
    padding: 10px 0 !important;
  }
}
